[submodule "ansible"]
	path = ansible
	url = git://github.com/ansible/ansible.git
[submodule "dotfiles"]
	path = dotfiles
	url = git@github.com:cbeach/dotfiles.git
	branch = master
[submodule "roles"]
	path = roles
	url = git@github.com:cbeach/ansible-roles.git
	branch = master
