[submodule "dotfiles"]
	path = dotfiles
	url = https://github.com/cbeach/dotfiles.git
	branch = master
[submodule "roles"]
	path = roles
	url = https://github.com/cbeach/ansible-roles.git
	branch = master
